.App {
  text-align: center;
}

.navItems {
  display: inline-block;
  margin: 1cm;
}

.forumName {
  float: left;
}

.cont {
  display: flex;
  justify-content: center;
}

.catCont {
  text-align: left;
  width: 75vw;
  margin-top: 10vh;
}

.topics {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid lightgray;
}
